$browser-default-font-size: 75px !default;
@function pr($px) {
  @return $px / $browser-default-font-size * 1rem;
}

a,
i {
  display: inline-block;
}

input[type="text"],
select {
  appearance: none;
  &::-webkit-input-placeholder {
    color: #999;
    font-size: inherit;
  }
  &:-moz-placeholder {
    color: #999;
    font-size: inherit;
  }
  &::-moz-placeholder {
    color: #999;
    font-size: inherit;
  }
  &:-ms-input-placeholder {
    color: #999;
    font-size: inherit;
  }
}

@mixin ells($row) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $row;
  -webkit-box-orient: vertical;
}

// 垂直居中，两端对齐
.space-between {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
// 垂直居中，水平居中
.space-around {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

html,
body {
  height: 100%;
}

// index.html
.live-head {
  padding: pr(15px) pr(30px);
  @extend .space-between;
}
.go-home {
  color: #999;
  font-size: pr(30px);
}
.input-box {
  width: 80%;
  height: pr(60px);
  border: 1px solid rgba(238, 238, 238, 1);
  border-radius: pr(30px);
  input {
    vertical-align: middle;
  }
  input[type="submit"] {
    width: pr(24px);
    height: pr(25px);
    background: url(../images/search.png) no-repeat center;
    background-size: 100% 100%;
    text-indent: -9999px;
    margin: 0 pr(12px) 0 pr(20px);
  }
  input[type="text"] {
    width: 84%;
    height: 100%;
  }
}
.live-title {
  font-size: pr(34px);
  line-height: pr(34px);
  font-weight: bold;
  color: rgba(33, 33, 33, 1);
  padding: pr(20px) 0;
}
.live-card {
  padding: pr(20px) pr(30px);
}
.line {
  height: pr(30px);
  background: #f6f6f6;
}
.live-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: pr(30px);
  li {
    width: 25%;
    margin-bottom: pr(10px);
    img {
      width: pr(58px);
      height: pr(58px);
    }
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: pr(26px);
      font-weight: 500;
      color: rgba(33, 33, 33, 1);
      line-height: pr(30px);
      span {
        padding: pr(20px) 0;
        white-space: nowrap;
      }
    }
  }
}

// mobile-rechage.html
.mobile-wrap,
.affirm-wrap,
.sussess-wrap {
  height: 100%;
  position: relative;
}
.headline {
  padding: pr(20px) pr(30px);
  border-bottom: 1px solid #f0f2f5;
  background: #fff;
  text-align: center;
  position: relative;
  .return {
    width: pr(18px);
    height: pr(34px);
    background: url(../images/return.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: pr(30px);
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .text {
    font-size: pr(36px);
    font-weight: bold;
    color: rgba(33, 33, 33, 1);
    line-height: pr(34px);
    em {
      font-size: pr(24px);
    }
  }
  .log {
    font-size: pr(30px);
    font-weight: 500;
    color: rgba(33, 33, 33, 1);
    line-height: pr(34px);
    position: absolute;
    right: pr(30px);
  }
  .query {
    width: pr(36px);
    height: pr(36px);
    background: url(../images/query.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: pr(30px);
  }
  .finish {
    font-size: pr(30px);
    font-weight: 500;
    color: #5895ff;
    line-height: pr(34px);
    position: absolute;
    right: pr(30px);
  }
}
.mobile-number {
  margin: 0 pr(30px);
  padding: pr(30px) 0;
  border-bottom: 1px solid #f0f2f5;
  @extend .space-between;
  .rec-input {
    width: 60%;
    input {
      width: 100%;
      font-size: pr(48px);
      line-height: pr(60px);
      font-weight: 400;
    }
    .hint {
      display: none;
      font-size: pr(30px);
      font-weight: 500;
      color: rgba(153, 153, 153, 1);
      line-height: pr(32px);
    }
  }
  .contacts {
    width: pr(52px);
    height: pr(57px);
    background: url(../images/contacts.png) no-repeat;
    background-size: 100% 100%;
  }
}
.mobile-inquire {
  padding: pr(30px);
  text-align: right;
  .balance {
    font-size: pr(24px);
    font-weight: 500;
    color: rgba(88, 149, 255, 1);
    line-height: pr(32px);
  }
}
.mobile-charge {
  padding: 0 pr(30px);
  .integer {
    padding: pr(30px) 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: pr(-20px);
    li {
      width: pr(207px);
      height: pr(130px);
      border: pr(2px) solid rgba(102, 102, 102, 1);
      border-radius: pr(6px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: pr(30px);
      margin-bottom: pr(30px);
      .money {
        font-size: pr(30px);
        line-height: pr(32px);
        font-weight: 500;
        color: rgba(33, 33, 33, 1);
        margin-bottom: pr(16px);
      }
      .discount {
        font-size: pr(24px);
        line-height: pr(32px);
        font-weight: 500;
        color: rgba(153, 153, 153, 1);
      }
      &:nth-of-type(3n) {
        margin-right: 0;
      }
      &.sel {
        border: pr(2px) solid rgba(88, 149, 255, 1);
        .money,
        .discount {
          color: rgba(88, 149, 255, 1);
        }
      }
    }
  }
}
.mobile-bar {
  @extend .space-between;
  .bar-title {
    font-size: pr(36px);
    line-height: pr(36px);
    font-weight: bold;
    color: rgba(33, 33, 33, 1);
  }
  .all {
    font-size: pr(28px);
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
    line-height: pr(32px);
    span,
    .icon {
      display: inline-block;
      vertical-align: middle;
    }
    .icon {
      width: pr(15px);
      height: pr(28px);
      background: url(../images/icon_1.png) no-repeat;
      background-size: 100% 100%;
    }
  }
}
.mobile-footer {
  text-align: center;
  color: #ccc;
  position: absolute;
  bottom: pr(30px);
  left: 0;
  right: 0;
  margin: auto;
  .item {
    font-size: pr(24px);
    line-height: pr(32px);
    font-weight: 500;
    color: rgba(88, 149, 255, 1);
    padding: 0 pr(10px);
  }
}

// affirm.html
.affirm-sum {
  padding: pr(70px) 0;
  font-size: pr(60px);
  line-height: pr(34px);
  font-weight: bold;
  color: rgba(33, 33, 33, 1);
  text-align: center;
}
.affirm-orderinfo {
  margin-bottom: pr(30px);
  padding: 0 pr(30px);
  font-size: pr(30px);
  line-height: pr(32px);
  font-weight: 500;
  color: rgba(33, 33, 33, 1);
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  .num {
    color: #6199f0;
  }
}
.affirm-payment {
  padding: 0 pr(30px);
  .list {
    padding-top: pr(16px);
    li {
      @extend .space-between;
      margin-bottom: pr(40px);
      img {
        width: pr(80px);
        height: pr(80px);
      }
      .item-l {
        display: flex;
      }
      .text {
        padding-left: pr(30px);
        font-size: pr(32px);
        line-height: pr(80px);
        font-weight: 500;
        color: rgba(33, 33, 33, 1);
        em {
          color: #999;
        }
      }
    }
  }
}
.affirm-submit {
  width: pr(600px);
  height: pr(80px);
  line-height: pr(40px);
  font-size: pr(36px);
  background: rgba(54, 153, 255, 1);
  border-radius: pr(4px);
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  bottom: pr(30px);
  left: 0;
  right: 0;
  margin: auto;
}

// rechage-success.html
.sussess-wrap {
  background: rgba(246, 246, 246, 1);
}
.success-query {
  padding: pr(30px) 0;
  font-size: pr(24px);
  line-height: pr(32px);
  font-weight: 500;
  background: rgba(255, 255, 255, 1);
  text-align: center;
  .text {
    color: rgba(88, 149, 255, 1);
  }
}

// flow.html
.flow-privilege {
  padding: 0 pr(30px) pr(30px);
  @extend .space-between;
  .privilege-l {
    font-size: pr(22px);
    line-height: pr(34px);
    li {
      margin: pr(10px) 0;
    }
    .price {
      font-size: pr(36px);
      line-height: pr(36px);
      font-weight: bold;
      color: rgba(88, 149, 255, 1);
      margin-right: pr(20px);
    }
    .sale {
      width: pr(59px);
    }
    .scope {
      display: inline-block;
      padding: pr(6px) pr(8px);
      background: rgba(54, 153, 255, 1);
      border-radius: pr(3px);
      color: #fff;
    }
    .deadline {
      color: rgba(33, 33, 33, 1);
    }
    .ticket {
      color: rgba(240, 40, 31, 1);
    }
  }
  .buy {
    padding: 0 pr(15px);
    height: pr(48px);
    line-height: pr(48px);
    background: rgba(54, 153, 255, 1);
    border-radius: pr(3px);
    font-size: pr(30px);
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
  }
}

// record.html
.record {
  background: rgba(246, 246, 246, 1);
}
.record-title {
  padding: pr(20px) pr(30px);
  border-bottom: 1px solid #f0f2f5;
  text-align: center;
  background: rgba(255, 255, 255, 1);
  position: relative;
  .return {
    width: pr(18px);
    height: pr(34px);
    background: url(../images/return.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: pr(30px);
  }
  .text {
    font-size: pr(36px);
    font-weight: bold;
    color: rgba(33, 33, 33, 1);
    line-height: pr(34px);
  }
}
.record-operator {
  text-align: center;
  background: rgba(255, 255, 255, 1);
  padding: pr(50px) 0;
  position: relative;
  .icon {
    width: pr(40px);
    height: pr(40px);
    margin-right: pr(16px);
    position: absolute;
    left: pr(217px);
  }
  .telecom {
    background: url(../images/telecom.png) no-repeat;
    background-size: 100% 100%;
  }
  .txt {
    font-size: pr(30px);
    line-height: pr(40px);
    font-weight: bold;
    color: rgba(33, 33, 33, 1);
  }
}
.record-price {
  font-size: pr(48px);
  line-height: pr(48px);
  font-weight: bold;
  color: rgba(33, 33, 33, 1);
  text-align: center;
  padding-bottom: pr(40px);
  background: rgba(255, 255, 255, 1);
}
.record-state {
  font-size: pr(30px);
  font-weight: 500;
  color: rgba(33, 33, 33, 1);
  line-height: pr(32px);
  text-align: center;
  background: rgba(255, 255, 255, 1);
}
.record-msg {
  padding: pr(40px) pr(30px);
  background: rgba(255, 255, 255, 1);
  margin-bottom: pr(30px);
  li {
    @extend .space-between;
    align-items: start;
    font-size: pr(30px);
    margin-bottom: pr(30px);
    .msg-l {
      color: rgba(153, 153, 153, 1);
    }
    .msg-r {
      color: rgba(33, 33, 33, 1);
      width: 72%;
      text-align: right;
      @include ells(2);
      .num {
        color: #5895ff;
        text-decoration: underline;
      }
      .return {
        width: pr(18px);
        height: pr(34px);
        background: url(../images/return.png) no-repeat;
        background-size: 100% 100%;
        vertical-align: middle;
        transform: rotate(180deg);
      }
      .text {
        vertical-align: middle;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.record-highlight {
  li {
    .msg-l {
      color: rgba(33, 33, 33, 1);
    }
    .msg-r {
      flex: 1;
    }
  }
}
.record-hint {
  padding: pr(40px) pr(30px);
  font-size: pr(24px);
  line-height: pr(32px);
  font-weight: 500;
  color: rgba(153, 153, 153, 1);
  background: rgba(255, 255, 255, 1);
  text-align: center;
}

// tag-remark.html
.tag-wrap {
  background: rgba(246, 246, 246, 1);
}
.tag-in {
  background: #fff;
  padding: pr(30px) pr(30px) 0;
  .icon {
    display: inline-block;
    width: pr(25px);
    height: pr(34px);
    margin-right: pr(20px);
    vertical-align: middle;
  }
  .icon-tag {
    background: url(../images/tag_1.png) no-repeat;
    background-size: 100% 100%;
  }
  .icon-remark {
    width: pr(26px);
    height: pr(37px);
    background: url(../images/tag_2.png) no-repeat;
    background-size: 100% 100%;
  }
  .text {
    font-size: pr(36px);
    line-height: pr(36px);
    font-weight: 500;
    color: rgba(33, 33, 33, 1);
    vertical-align: middle;
  }
  .tag-box {
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: pr(30px);
    padding-bottom: pr(20px);
  }
  .remark-box {
    padding-top: pr(20px);
  }
}
.tag-list {
  padding-top: pr(30px);
  li {
    display: inline-block;
    padding: pr(6px) pr(12px);
    border: 1px solid #3699ff;
    border-radius: pr(6px);
    margin: 0 pr(10px) pr(20px) 0;
    color: #3699ff;
  }
  span {
    display: inline-block;
    font-size: pr(30px);
    font-weight: 500;
    vertical-align: middle;
  }
  .icon {
    width: pr(23px);
    height: pr(23px);
    background: url(../images/close_1.png) no-repeat;
    background-size: 100% 100%;
    margin-right: 0;
    margin-left: pr(10px);
  }
  .sel {
    background: #3699ff;
    color: #fff;
  }
}
.tag-good {
  margin-bottom: pr(30px);
  padding-bottom: pr(20px);
}
.tag-img {
  padding: pr(50px);
  background: #fff;
  .add-img {
    height: pr(282px);
    border: 1px solid rgba(204, 204, 204, 1);
    border-radius: pr(6px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input {
      width: pr(40px);
    }
    .txt {
      font-size: pr(30px);
      font-weight: 500;
      color: rgba(153, 153, 153, 1);
      line-height: pr(32px);
      padding-top: pr(30px);
    }
  }
}

// deal-record.html
.deal {
  background: rgba(246, 246, 246, 1);
  position: relative;
  height: 100%;
}
.deal-title {
  text-align: center;
  font-size: pr(24px);
  line-height: pr(32px);
  font-weight: 500;
  color: rgba(153, 153, 153, 1);
  padding: pr(30px) 0;
  .month {
    margin-right: 1em;
  }
}
.deal-list {
  padding: 0 pr(25px);
  background: #fff;
  .item {
    @extend .space-between;
    border-bottom: 1px solid #eee;
    padding: pr(30px) 0;
    &:last-child {
      border-bottom: none;
    }
  }
  .item-col {
    line-height: pr(32px);
    font-weight: 500;
  }
  .col-title {
    font-size: pr(30px);
    color: rgba(33, 33, 33, 1);
    margin-bottom: pr(20px);
  }
  .txt {
    font-size: pr(24px);
    color: rgba(153, 153, 153, 1);
  }
}
.deal-btn {
  width: 100%;
  font-size: pr(36px);
  line-height: pr(100px);
  font-weight: 500;
  color: rgba(54, 153, 255, 1);
  background: #fff;
  text-align: center;
  position: absolute;
  bottom: 0;
}

// recharge-bill.html
.bill {
  background: rgba(246, 246, 246, 1);
  position: relative;
  height: 100%;
}
.bill-banner {
  height: pr(236px);
}
.bill-title {
  padding: pr(10px) pr(30px) pr(20px);
  line-height: pr(32px);
  font-weight: 500;
  font-size: pr(24px);
  .month {
    color: rgba(33, 33, 33, 1);
  }
  span {
    color: rgba(153, 153, 153, 1);
    margin-right: 2em;
  }
}
.bill-list {
  padding: pr(30px) pr(25px);
  background: #fff;
  .item {
    @extend .space-between;
    .icon {
      width: pr(100px);
      height: pr(100px);
      background: url(../images/mobile-icon.png) no-repeat;
      background-size: 100% 100%;
    }
    .item-msg {
      .msg-title {
        font-size: pr(30px);
        line-height: pr(32px);
        font-weight: 500;
        color: rgba(33, 33, 33, 1);
      }
    }
  }
}
.bill-btn {
  width: 100%;
  font-size: pr(36px);
  line-height: pr(100px);
  font-weight: 500;
  color: rgba(54, 153, 255, 1);
  background: #fff;
  text-align: center;
  position: absolute;
  bottom: 0;
}
